.wrapper {
  text-align: center;
  max-width: 1000px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 36px;
  background-color: #90ccf4;
}

.instruction-text {
  margin: 0;
  color: #ffffff;
  height: 24px;
}

.button {
  background-color: #97aabd;
  border: none;
  outline: none;
  width: 96px;
  height: 24px;
}

.button:hover {
  filter: brightness(80%);
}

body {
  background-color: #ececec;
}

.grid:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/
}